<a href="https://colab.research.google.com/github/ps11061601/CCProject/blob/master/Decision_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
## Importing Libraries 
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error

## Ingest

In [0]:
## Importing file

df = pd.read_csv("/content/preprocessed_1.csv")

## EPA

In [0]:
df.describe()
df.head()

   Unnamed: 0 neighbourhood_group  ...  number_of_reviews  availability_365
0           0            Brooklyn  ...                  9               365
1           1           Manhattan  ...                 45               355
2           2           Manhattan  ...                  0               365
3           3            Brooklyn  ...                270               194
4           4           Manhattan  ...                  9                 0

[5 rows x 9 columns]

In [0]:
## Dropping unwanted varibles
df = df.drop(columns=['Unnamed: 0'])

In [0]:
df = df.dropna()

In [0]:
#Dividing the dataset into target and predicting variables
target = df['price']
inputs = df.drop(columns='price')

In [0]:
# Creating indicator
le_neighbourhood = LabelEncoder()
le_RoomType = LabelEncoder()

In [0]:
inputs['neighbourhood_n'] = le_neighbourhood.fit_transform(inputs['neighbourhood_group'])
inputs['roomType_n'] = le_RoomType.fit_transform(inputs['room_type'])
inputs.head()

  neighbourhood_group  latitude  ...  neighbourhood_n roomType_n
0            Brooklyn  40.64749  ...                1          1
1           Manhattan  40.75362  ...                2          0
2           Manhattan  40.80902  ...                2          1
3            Brooklyn  40.68514  ...                1          0
4           Manhattan  40.79851  ...                2          0

[5 rows x 9 columns]

In [0]:
# removing pre-indicators
input_n = inputs.drop(['neighbourhood_group', 'room_type'],axis = 'columns')
input_n.head()

   latitude  longitude  ...  neighbourhood_n  roomType_n
0  40.64749  -73.97237  ...                1           1
1  40.75362  -73.98377  ...                2           0
2  40.80902  -73.94190  ...                2           1
3  40.68514  -73.95976  ...                1           0
4  40.79851  -73.94399  ...                2           0

[5 rows x 7 columns]

In [0]:
# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(input_n, target, test_size=0.2, random_state=42)
X_train.shape

(39116, 7)

In [0]:
# Creating Tree
Dtree = DecisionTreeClassifier(random_state=0)
Dtree.fit(X_train, y_train)

print('Accuracy#(training): {:.3f}'.format(Dtree.score(X_train, y_train)))
print('Accuracy#(test): {:.3f}'.format(Dtree.score(X_test, y_test)))

Accuracy#(training): 1.000
Accuracy#(test): 0.056

## Model

In [0]:
# Checking the accuracy of the linear model by printing the root mean squared errors 
train_predict = Dtree.predict(X_train)
print('RMSE train : ',np.sqrt(mean_squared_error(train_predict,y_train)))
test_predict = Dtree.predict(X_test)
print('RMSE test : ', np.sqrt(mean_squared_error(test_predict,y_test)))

RMSE train :  0.2528091483456812
RMSE test :  274.34943714527395